{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "ios > 7",
            "android  >= 4"
          ]
        },
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}