html.debug_class #__vconsole {
  display: block;
}
html #__vconsole {
  display: none;
}
.message {
  display: none;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.51);
  margin: 0 auto;
  color: #fff;
  text-align: center;
  border-radius: 0.15625rem;
  padding: 0.5rem;
  z-index: 999;
}
.message.active {
  display: block;
}
.loading {
  display: none;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.51);
  margin: 0 auto;
  color: #fff;
  text-align: center;
  border-radius: 0.15625rem;
  padding: 0.5rem;
  z-index: 999;
}
.loading.active {
  display: block;
}
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
a {
  color: #333;
  text-decoration: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.mt10 {
  margin-top: 0.26666667rem;
}
.mb10 {
  margin-bottom: 0.26666667rem;
}
.bgCover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html {
  height: 100%;
}
html,
body {
  font-size: 0.32rem;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #626262;
}
body,
ul,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
input,
div,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Microsoft YaHei", tahoma, arial;
  line-height: 1.5;
  color: inherit;
  font-size: 14px;
}
ul,
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
input,
textarea {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
select {
  border: 0;
  background: none;
  -webkit-appearance: none;
  color: inherit;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  border: 1px solid;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: #ccc;
}
/**
widgets made by Liangyusen
**/
.widget_header_bar {
  height: 1.17333333rem;
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.widget_header_bar .header_bar_box {
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  text-align: center;
  position: fixed;
  padding: 0 1.33333333rem;
  height: 1.17333333rem;
  background: #fff;
  color: #343434;
}
.widget_header_bar .header_bar_box .header_nav_left_btn {
  padding: 0 0.26666667rem;
  height: 1.17333333rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.17333333rem;
}
.widget_header_bar .header_bar_box .header_nav_left_btn .icon_leftarrow {
  color: #666;
  display: inherit;
}
.widget_header_bar .header_bar_box .header_nav_title {
  line-height: 1.17333333rem;
  font-size: 0.4rem;
  color: inherit;
}
.widget_header_bar .header_bar_box .header_nav_right_btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  display: inline-block;
  padding: 0 0.26666667rem;
  cursor: pointer;
}
.widget_header_bar .header_bar_box .header_nav_right_btn .iconfont {
  display: inherit;
  color: inherit;
}
.widget-dialog {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.widget-dialog .dialog-mask-bg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.widget-dialog .main {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 80%;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.widget-dialog .title {
  padding: 12px 0;
}
.widget-dialog .content {
  padding: 0 16px 10px;
}
.widget-dialog .foot {
  height: 36px;
  border-top: 1px solid #dcdddd;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}
.widget-dialog .foot button {
  display: block;
  height: 100%;
  font-size: 12px;
  -webkit-box-flex: 1;
  flex: 1;
  width: 100%;
  color: #01a0e4;
  border: 0 none;
  background: none;
}
.widget-dialog .foot button:nth-of-type(2) {
  border-left: 1px solid #dcdddd;
}
.widget-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 68%;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  z-index: 101;
}
.widget-loading {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.widget-loading .mask {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.widget-loading .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  height: 50px;
  width: 50px;
  background: url(imgs/loading.svg) no-repeat center;
}
.root-page-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
  background: #efeff4;
}
.root-page-container.with-bottom-nav {
  padding: 0rem 0rem 1.33333333rem 0rem;
}
.bottom-nav-box {
  height: 1.33333333rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bottom-nav-box > .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  line-height: 1.33333333rem;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
  border-top: 1px solid #dadada;
}
.bottom-nav-box > .item:nth-of-type(2) {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.bottom-nav-box > .item.active {
  border: 0;
  background: #ff3941;
  color: #fff;
}
.common-list {
  background: white;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
.common-list li {
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  border-bottom: 1px solid #E5E5E5;
  margin: 0rem 0rem 0rem 0.4rem;
  position: relative;
}
.common-list li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.common-list li:last-child {
  border-bottom: 0;
}
.common-list li .title {
  float: left;
  line-height: 1.17333333rem;
}
.common-list li .title h3 {
  line-height: 1.17333333rem;
  font-size: 0.45333333rem;
  max-width: 8.26666667rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}
.common-list li .more {
  float: right;
  color: #888888;
  margin: 0rem 0.8rem 0rem 0rem;
  font-size: 0.45333333rem;
  line-height: 1.17333333rem;
}
.common-list li .arrow {
  display: inline-block;
  border-right: 2px solid #c7c7cc;
  border-bottom: 2px solid #c7c7cc;
  width: 0.24rem;
  height: 0.24rem;
  transform: rotate(-45deg);
  position: absolute;
  right: 0.4rem;
  top: 50%;
  margin-top: -0.13333333rem;
}
.common-btn-light {
  width: 8.93333333rem;
  height: 1.25333333rem;
  line-height: 1.25333333rem;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.13333333rem;
  margin: 0 auto 0.4rem;
  display: block;
  background: #ff3941;
  border: 1px solid rgba(5, 5, 5, 0.08);
  color: white;
  margin-top: 0.8rem;
}
.common-btn-light:disabled {
  background: #f8f8f8;
  border: 1px solid rgba(5, 5, 5, 0.1);
  color: black;
}
.common-btn-gray {
  width: 8.93333333rem;
  height: 1.25333333rem;
  line-height: 1.25333333rem;
  font-size: 0.48rem;
  text-align: center;
  border-radius: 0.13333333rem;
  margin: 0 auto 0.4rem;
  display: block;
  background: #f8f8f8;
  border: 1px solid rgba(5, 5, 5, 0.1);
  color: black;
}
.common-select li:after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  border: 0.16rem solid #c0c0c0;
  border-bottom: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  visibility: visible;
  position: absolute;
  right: 0.53333333rem;
  top: 0.48rem;
}
.icon-arrow-right {
  width: 0.26666667rem;
  height: 0.26666667rem;
  border: 2px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}
.page-salary-list .header {
  position: relative;
  height: 5.76rem;
  padding: 0.32rem 0rem 0rem 0.32rem;
  color: #fff;
  background: url("imgs/bg_salary_list_header.png") no-repeat;
  background-size: 100% 100%;
}
.page-salary-list .header .icon-help {
  position: absolute;
  top: 0.32rem;
  right: 0.32rem;
  width: 0.48rem;
  height: 0.48rem;
  background: url("imgs/icon-salary-qes.png") no-repeat;
  background-size: 100% 100%;
}
.page-salary-list .header h2 {
  font-size: 0.42666667rem;
  padding-bottom: 0.26666667rem;
}
.page-salary-list .header .review-detail-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.17333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.48rem;
  font-size: 0.42666667rem;
}
.page-salary-list .header .info {
  text-align: center;
  margin: 0.53333333rem 0rem 0rem 0rem;
}
.page-salary-list .header .info .price {
  font-size: 1.06666667rem;
  margin: 0rem 0rem 0rem 0.26666667rem;
}
.page-salary-list .header .info .price:before {
  content: '￥';
  font-size: 0.48rem;
}
.page-salary-list .list .item {
  height: auto;
  line-height: auto;
  padding: 0.4rem 0rem 0.4rem 0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page-salary-list .list .item > * {
  display: block;
}
.page-salary-list .list .item .name {
  font-size: 0.45333333rem;
  margin: 0rem 0rem 0.13333333rem 0rem;
  color: black;
}
.page-salary-list .list .item .type {
  color: #888;
}
.page-salary-list .list .item.over {
  background-color: #f8f8f8;
  position: relative;
}
.page-salary-list .list .item.over::after {
  content: "";
  position: absolute;
  left: -0.4rem;
  top: 0;
  width: 0.4rem;
  height: 100%;
  visibility: visible;
  bottom: 0;
  background: #f8f8f8;
}
/**
订单明细详情
**/
.page-sale-detail .header {
  height: 1.81333333rem;
  margin: 0.32rem 0rem 0.32rem 0rem;
  padding: 0.32rem 0rem 0.32rem 0.32rem;
  background-size: 100%;
  background-image: url("imgs/bg_ drugstore.png");
}
.page-sale-detail .header .type {
  padding-top: 0.08rem;
  color: #fff;
}
.page-sale-detail .header .name {
  color: #fff;
}
.page-sale-detail .list {
  border-bottom: 0;
}
.page-sale-detail .list .item {
  padding: 0.32rem 0.32rem 0.32rem 0.32rem;
  height: auto;
  line-height: inherit;
  margin: 0;
}
.page-sale-detail .list .time {
  color: black;
  margin: 0rem 0.26666667rem 0rem 0rem;
}
.page-sale-detail .list .status {
  color: black;
}
.page-sale-detail .list .price {
  float: right;
  font-size: 18px;
  color: #ff3941;
  font-weight: normal;
}
.page-sale-detail .list .wrap-inner {
  font-size: 0.34666667rem;
  color: #888;
  padding: 0.13333333rem 0rem 0rem 0rem;
}
.page-sale-list .body {
  height: auto;
  position: fixed;
  top: 1.17333333rem;
  left: 0;
  right: 0;
  bottom: 1.33333333rem;
  overflow-y: auto;
}
.page-sale-list .mescroll-upwarp {
  min-height: 30px;
  padding: 15px 0;
  text-align: center;
  visibility: hidden;
}
.page-sale-list .mescroll-downwarp .downwarp-tip,
.page-sale-list .mescroll-upwarp .upwarp-tip,
.page-sale-list .mescroll-upwarp .upwarp-nodata {
  display: inline-block;
  font-size: 12px;
  color: gray;
  vertical-align: middle;
}
.page-sale-list .mescroll-downwarp .downwarp-progress,
.page-sale-list .mescroll-upwarp .upwarp-progress {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 8px;
  border-bottom-color: transparent;
  vertical-align: middle;
}
.page-sale-list .mescroll-rotate {
  -webkit-animation: mescrollRotate 0.6s linear infinite;
  animation: mescrollRotate 0.6s linear infinite;
}
.page-customer-order .body {
  top: 2.4rem;
}
@-webkit-keyframes mescrollRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes mescrollRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
