/********base*******/
:root {
	
}

* { 
	-webkit-text-size-adjust: none;
	-webkit-transform-origin-x: 0;
	box-sizing: border-box
}
html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}
body {
	height: 100%;
	background-color: #f0f0f0;	
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    margin:0;
    padding:0; 
    list-style:none; 
    color:#404040;
    outline:none;
    line-height: 1.5;
		font-size: 1.4px;
		box-sizing: border-box;
		
}
section { 
	min-width: 320px; 
	margin:0 auto
}



strong,
em,
i { 
	font-weight:normal;
	font-style:normal;
	outline: medium none;
}
a,
img,
input,
button,
textarea {
	border:none; 
	outline: none;
	text-decoration: none;
	background-color: transparent;
	color: inherit
}
:focus {
	outline: none
}
button { 
	background: none
}
img { 
	vertical-align:top
}
table { 
	border-collapse: collapse; 
	width: 100%;
}
body { 
	overflow-x: hidden;
	height: 100%;
}

textarea {
	border: 1px solid #dcdddd;
}

/***
**reset chrome input 
**
**/

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	background-image: none;
	color: #000;
}

.muti-line {
	display: -webkit-box;
	height: 100px;
	line-height: 25px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
*
**/

/****
widget
****/

/******common style end*****8/

/**
**页面公用组件
**@.widget-bottom-nav 底部固定菜单组件
**@.widget-head-avatar 头部头像组建
**@.widget-tip-box 提示消息组件(主要是未绑卡提示)
**@.widget-dialog 弹框组件 
**@.widget-prompt 提示信息组件
****/
.widget-bottom-nav {
  /*height: 2.5rem;*/
}
.widget-bottom-nav .container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  border-width: 1px 0 0;
  border-image: url(border.gif) 2 stretch;
  background-color: #fff;
}
.widget-bottom-nav .container .item {
  float: left;
  height: 100%;
  width: 33.33333333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 0.7rem;
  text-align: center;
  color: #5b6373;
}
.widget-bottom-nav .container .item.active {
  color: #789ef6;
  pointer-events: none;
}
.widget-bottom-nav .container .item:last-child.active {
  color: #f38fcf;
}
.widget-bottom-nav .container .item a {
  display: block;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: inherit;
}
.widget-bottom-nav .container .item a {
  border-right: 1px solid rgba(91, 99, 115, 0.17);
}
.widget-bottom-nav .container .item:last-child a {
  border: 0;
}
.widget-bottom-nav .container .item:last-child a:before {
  background-position: 0 -23px;
}
.widget-bottom-nav .container .item.active:first-child a:before {
  background-position: 0 66.66%;
}
.widget-bottom-nav .container .item.active:last-child a:before {
  background-position: 0 100%;
}
.widget-head-avatar {
  height: 4.3rem;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.widget-head-avatar > * {
  display: block;
}
.widget-head-avatar .avatar {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: .75rem;
}
.widget-head-avatar .content {
  color: #fff;
}
.widget-head-avatar .content .status {
  display: inline-block;
  width: 3.4rem;
  margin-left: .3rem;
  padding: .1rem .15rem 0;
  text-align: center;
  background-color: rgba(84, 21, 138, 0.23);
  border-radius: .1rem;
}
.widget-tip-box {
  height: 1.8rem;
  padding: 0 1rem;
  color: #b17652;
  background: #fff5d9;
  border-bottom: 1px solid #f1deae;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.widget-tip-box .sign {
  display: block;
  width: .3rem;
  height: .3rem;
  border: 1px solid #813e20;
  border-top: 0;
  border-right: 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.widget-dialog {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.widget-dialog .dialog-mask-bg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.widget-dialog .main {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 71.875%;
  background-color: #fff;
  text-align: center;
  border-radius: .1rem;
}
.widget-dialog .title {
  padding: .5rem 0;
}
.widget-dialog .content {
  padding: 0 1rem .5rem;
}
.widget-dialog .foot {
  border-width: 1px 0 0;
  border-style: solid;
  border-image: url(border.gif) 2 stretch;
  height: 1.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.widget-dialog .foot button {
  display: block;
  height: 100%;
  font-size: .7rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  color: #01a0e4;
}



.widget-dialog .foot button:nth-of-type(2) {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-image: url(border.gif) 2 stretch;
}

.widget-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 240px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: -22px 0 0 -120px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 24px;
  text-align: center;
  z-index: 10;
}

/***
***loading
**/
.widget-loading {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.widget-loading .mask {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.widget-loading .spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 
	100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}





/********comm******/
.l {
	float:left
}
.r {
	float:right
}
.clear{ 
	zoom:1;
}
.clear:after { 
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.db{
	display: block
}
.btn {
	display: block;
	width: 100%;
	height:2.8rem; 
	line-height: 2.8rem; 
	padding:0 .8rem;
	border-radius: 0.25rem; 
	text-align: center; 
	color: #fff; 
	background: #37c685; 
	font-size: 1.25rem;
	-webkit-appearance: none
}

.title {
	padding: 1.5rem 0 0;	
	color: orange;	
	display: flex;
	border-radius: 0;
}

.ipt {
	width: 100%;
	height: 3rem;
	padding-left: .5rem;
	line-height: 3rem;
	border: 1px solid #969696;
	color: #333;
	background-color: #fff;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1);
	border-radius: 4px;
	border-color: #969696;
}
.pt20 {
	padding-top: 20px;
}
.pt10 {
	padding-top: 10px
}
.i-comment {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 4px;
	vertical-align: middle;
	background-size: contain;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAZJJREFUWAntlr1KxEAUhTebNCI+gCxiqyAmYBrfQBG08AU2fy5Y2dvb2djmRyvBtGthZUofwVSCtY2mWtAke5IqK9edmaCShQkM2cy5986Xcyfs9HryWjAHlIrX9/2yC9ye5yn9LoA0GbTmQ0XYfP6v380Odc4hCcTaBtIh6RDLAZYu95B0iOUAS5d7SDrEcoClyz3EcmjmxIiT2/MPCa84Te5RWhiGK0VRRNC2KF10bgYIyRtUAUVRvsfVYVEUrQHmHg/bVF6buXohTdM2qeSyLNfzPH+gNLi5A20MbRUjVVV1CPAPKlZkrgayLCulkoIg+KLm0aZDwN5iLEN/xAsdo8Y7FSs6R7ZiXhHAnKFNl4jp47rWdX1kmubnvBwRjRsojmM1y7IrwJyiNSXGueM4FyKL8cRyAaE1S4AZ474PkAnuQ9d173gWEI3hAkLRASAGgHnDOALMk+hCvPG8QFW9FHvmwLbtF97ibeK4/jrgSoIvafevYaoXYDoEmBvDME5+80tq41ydkyQJE7h18UVJnAKpRm/Sbej9vwAAAABJRU5ErkJggg==);
}

.wrap-container {
	max-width: 640px;
	margin: 0 auto
}
.app-container {
	min-height: 100%;
	max-width: 640px;
	margin: 0 auto;
	background: #f8f8f8;
}
.wrap-header-container {
	height: 40px;
} 
.header {
	z-index: 10;
	position: fixed;
	top: 0;
	left:50%;
	width: 100%;
	max-width: 640px;
	height: 40px;
	background: #e9e9e9;
	margin: 0;
	box-shadow: inset 0 0 1px rgba(0,0,0,.12);
	
	transform: translate3d(-50%, 0, 0);
	-webkit-transform: translate3d(-50%, 0, 0)
}
.app-nav-list {
	width: 100%;
	display: -webkit-box;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}

.app-nav-list .item {	
	-webkit-box-flex: 1;
	flex: 1;

}

.app-nav-list a,
.app-nav-list li {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #222;
	text-align: center
}

.app-nav-list a.active {
	box-shadow: inset 0 0 1px rgba(0,0,0,.12)
}



.app-nav-list li.active {
	color: orange;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-right: -1px;
	background-color: #fff;
}
.app-content {
	padding: 60px 20px;
}


/**
*
*register and login page*
**
***/

.app-register-page,
.app-login-page,
.app-upload-page,
.app-home-page,
.app-detail-page,
.app-list-page {
	
	padding: 1rem;

}



.page-title {
	text-align: center
}

/**
**app-upload-page
**
*********/
.app-upload-page textarea.ipt {
	resize: none;
	height: 6rem;
}

.app-upload-page .select-type {
	position: relative;
	background: -webkit-gradient(linear,0 0,0 100%, from(#fefefe),to(#dfdfdf));
	height: 3rem;
	line-height: 3rem;
	padding: 0 0 0 2%;
	margin-top: 1rem;
}

.app-upload-page .select-type .sign {
	width: 20%;
	float: right;
	height: 100%;
	background: -webkit-linear-gradient(#fafafa,#d6d6d6),-webkit-linear-gradient(#eae9e8,#bcb9b6,#d6d5d4),-webkit-linear-gradient(#fbfbfb,#e8e8e8)
}

.app-upload-page .select-type .sign:before {
	display: block;
	margin: 0 auto;
	content: '▼';
	width: 18%;
	
}

.app-upload-page .select-type select,
.app-upload-page .wrap-upload-ipt input {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
}

.app-upload-page .wrap-upload-ipt {
	position: relative;
	margin-top: 1rem;
	display: block;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #cbcbcb;
    text-align: center;
    font-size: .9rem;
    color: #444;
    background: -webkit-gradient(linear,0 0,0 100%, from(#fff),to(#f0f0f0));
    -webkit-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.1);
}

.app-upload-page .filesList .item {
	padding-top: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
	
}
.app-upload-page .filesList .item img {
	width: 3rem;
	height: 3rem;
	vertical-align: middle;
	margin-right: 1rem
}
.app-upload-page .filesList .item .filename {
	margin-right: 1rem
}
/****
**app-detail-page
**
***********/
.app-detail-page {
	position: relative
}
.app-detail-page .icon-delete-page {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.4rem;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	background-color: #fff;
	color:#999
}
.app-detail-page .uri-list .item {
	padding-bottom: 1rem;	
}

.app-detail-page .page-title {
	padding-bottom: 1rem;
	border-width: 0 0 1px;
	border-image: url(border.gif) 2 stretch;
	margin-bottom: 1rem;
}

.app-detail-page .uri-list .item img {
	max-width: 100%;
	height: auto;
}

.app-detail-page .ipt {
	height: 4rem;
	line-height: 2rem;
	resize: none;
	margin-bottom: .8rem;
}

.app-detail-page .content {
	padding: 0 0 1rem 0;
	
}

.app-detail-page .comments-container {
	padding: .5rem .5rem 0;
	margin-bottom: 1rem;
	background-color: #fff;
}

.app-detail-page .comments-container .list .item {
	padding: .5rem 0;
	display: -webkit-box;
	-webkit-box-align: baseline;
	-webkit-box-pack: justify;
	border-top: 1px dashed #d6d6d6
}

.app-detail-page .comments-container .list .item > * {
	display: block
}
.app-detail-page .comments-container .list .con {
	width: 90%;
}
.app-detail-page .comments-container .comments-title {
	padding-bottom: .5rem;
}
.app-detail-page .comments-container .list .del {
	color: #999;
	font-size: 10px;
	width: 10%;
	
}


/******
reader from server
********/

#reader_from_server {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: url(bg_body.jpg) no-repeat center;
	background-size: cover;
	/*display: none	*/
}

/**
**list-page for route list style
**
*******************/

.app-list-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;	
	padding: 0;
}
.app-list-page .item {
	width: 100%;
	padding: 2rem 0;
	border: 1px solid #dbe2e8;
	border-width: 1px 0 1px 0;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(46,61,73,.08);
	margin-bottom: 2rem;
}
.app-list-page .item:first-child {
	margin-top: 20px
}
.app-list-page .item a {
	display: block;	
}

.app-list-page .item h3,
.app-list-page .item h2,
.app-list-page .item .content,
.app-list-page .item .more {
	padding: 0 2rem;	
	font-style: normal;
	font-weight: normal
}
.app-list-page .item h2 {
	font-size: 12px;
	color: #4a4a4a
}
.app-list-page .item .wrap-uri {
	margin: 6px 0 20px
}
.app-list-page .item .autor {

}
.app-list-page .item .time {
	color: #999;
	float: right
}
.app-list-page .item h3 {
	font-size: 24px;
	color: #259;
}



.app-list-page .item .more {
	text-align: right;
	font-size: 12px;
	color: #999
}

.app-list-page .item video {
	width: 100%;
}
.app-list-page .item img {
	max-width: 100%;
	height: auto
}

/**
**Media Queries for Standard Devices
**
****************/

@media (min-width:640px) {
	.app-container {
		border-right: 1px solid #dbe2e8;
		border-left: 1px solid #dbe2e8;
	}
	/**********
	**
	**Selector for header
	***********/

	
	/**
	**Selector for main content
	**
	**********/

	
	/****
	**Selector for login and register page
	**
	*************/

	
	/****
	**Selector for list page
	**
	********************/
	.app-list-page .item {

	}
	
	/**
	**Selector for detail page
	**
	***********/
	.app-detail-page .list img {
		max-width: 100%
	}
 }