.page-index {
    background-color: #132e44;
    @include padding(0, 0, 240);
    overflow: auto;
    overflow-x: hidden;
    .bg-header {
        @include h(1008);
        @include bis('~assets/bg_index_breakfirst.gif');
        color: #FF5F28;
    }
    .section-box {
        @include h(420);
        @include margin(100);
        color: #fff;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.2, rgba(0, 0, 0, 0)), color-stop(.2, #FF730D), color-stop(.96, #FF730D), color-stop(.96, #C84625));
        .list {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }
        .item {
            flex-shrink: 0;
            @include w(348);
            margin-left: px2rem(48);
            img {
                display: block;
                width: 100%;
                @include h(260);
                @include margin(0, 0, 20)
            }
            .item-info-box {
                display: flex;
                justify-content: space-between;
                @include sc(28)
            }
            .price {
                @include sc(40);
                &:before {
                    @include sc(28);
                    content: '¥';
                }
            }
            .tag {
                @include wh(100, 46);
                @include lh(46);
                text-align: center;
                background: #FFFFFF;
                border-radius: px2rem(54);
                @include sc(24);
                &::before {
                    content: '';
                    display: inline-block;
                    @include wh(23, 28);
                    vertical-align: middle
                }
                &.hot {
                    color: #F1561B;
                    &::before {
                        @include margin(0, 8, 0, 0);
                        @include bis('~assets/icon_warm.png')
                    }
                }
            }
        }
    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        @include wh(1080, 236);
        @include lh(236);
        @include sc(52, #fff);
        text-align: center;
        background-image: linear-gradient(-227deg, #13C1FF 0%, #009AFF 100%);
    }
}