@import './tools';
.page-list{
  position: relative;
  height: 100vh;
  @include padding(160, 0, 240);
  overflow: hidden;
  background: #fafafa;
  .body {
    height: 100%;
    overflow: auto;
    padding-left: px2rem(240);
  }
  .nav {
    position: absolute;
    left: 0;
    width: px2rem(188);
    .item {
      position: relative;
      display: block;
      text-align: center;
      @include h(136);
      @include lh(136);
      @include sc(34);
      background: #fff;      
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        @include w(24);
      }
      &.cur {
        background: transparent;
        &:before {
          background: #00AFEC;
          box-shadow: 0 0 px2rem(12) 0 #BBDFEC;
        }
      }
      
    }
  }
  .list-container {
    .tit {
      font-family: PingFangSC-Regular;
      @include sc(32, #B4B4B4);
      @include margin(0, 0, 22, 0);
    }
    .list {
      > .item {
        float: left;
        position: relative;
        @include wh(368, 498);
        @include margin(0, 40, 40);
        background: #FFFFFF;
        border-radius: px2rem(9);
      }
      .wrap-img {
        height: px2rem(278);
        display: flex;
        align-items: center;
        justify-content: space-around;
        > img {
          display: block;
          @include wh(190, 226);
        }
      }
      .price {
        position: absolute;
        top: px2rem(248);
        left: 0;
        @include wh(214, 60);
        @include padding(0, 0, 0, 24);
        @include lh(60);
        @include sc(40, #fff);
        border-radius: 0 px2rem(60) px2rem(60) 0;
        background: #FF5F28;
        
        &:before {
          @include sc(28);
          content: '¥';
        }
      }
      .wrap-item-info {
        @include h(220);
        @include padding(30, 24, 0);
      }
      .wrap-sku {
        @include h(90);
        display: flex;
        justify-content: space-between;
        align-items: center;
        > * {
          display: block;
        }
        .tag {
          @include sc(24);
          &::before {
            content: '';
            display: inline-block;
            @include wh(23, 28)
          }
          &.hot {
            color: #F1561B;
            &::before{
              margin-right: px2rem(8);
              @include bis('~assets/icon_warm.png')
            }
          }
        }


      }
      
      .name {
        height: px2rem(100);
        line-height: px2rem(50);
        overflow: hidden;
        font-family: PingFangSC-Regular;
        @include sc(34, #051B28)
        
      }
    }
  }
  .footer {
    z-index: 12;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include h(240);
    @include padding(28, 56, 28, 140);
    background: #132E44;
    box-shadow: 0 px2rem(-6) px2rem(26) 0 rgba(137,137,137,0.50);
    .wrap-cart-info {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
    }
    .wrap-cart-info > * {
      display: block;
      color: #fff;
    }
    .btn {
      @include wh(370, 184);
      // width: px2rem(370);
      // height: px2rem(184);
      @include lh(184);
      //line-height: px2rem(184);
      text-align: center;
      background-image: linear-gradient(-180deg, #13C1FF 0%, #009AFF 100%);
      border-radius: px2rem(14);
      @include sc(50);
      //font-size: px2rem(50);
      &:disabled {
        background-image: linear-gradient(-180deg, #545D64 5%, #434E57 96%);
        color: #133149;
      }
    }
    .cart-info {
      .icon-cart {
        position: relative;
        display: block;
        width: px2rem(92);
        height: px2rem(92);
        @include bis('~assets/icon_cart.png');
        .cart-number {
          position: absolute;
          top: px2rem(-30);
          right: px2rem(-30);
          @include wh(66);
          @include lh(66);
          border-radius: 50%;
          text-align: center;
          font-size: px2rem(40);
          background: #FF7B28;
        }
      }
      .total-price {
        font-size: px2rem(64);
        &:before {
          font-size: px2rem(32);
          content: '¥';
          margin:0 px2rem(10) 0 px2rem(20)
        }
      }
    }
    
    .cart-items-box {
      &.show {
        display: block;
      }
      
      position: absolute;
      left: 0;
      bottom: px2rem(240);
      width: 100%;
      padding-left: px2rem(90);
      background: #FFFFFF;
      box-shadow: 0 px2rem(-6) px2rem(26) 0 rgba(0,0,0,0.13);
      border-radius: px2rem(20) px2rem(20) 0 0;
      .head {
        padding: px2rem(28);
        padding-left: 0;
        padding-bottom: 0;
        text-align: right;
        .close {
          display: inline-block;
          @include wh(20);
          margin-right: px2rem(8);
          @include bis('~assets/icon_cross.png')

        }
      }
      .item-list{
        > .item {
          padding: px2rem(28) px2rem(80) px2rem(28) px2rem(16);
          border-bottom: 1px solid #EDEDED;
          display: flex;
          justify-content: space-between;
          align-items: center; 
          color: #051B28;  
          &:last-child {
            border-bottom: 0 none;
          }   
        }
        .name,
        .price,
        .wrap-actions {
          display: block
        }
        .name {
          width: px2rem(440);
        }
      }
    } 
  }
  .wrap-actions {
    height: px2rem(48);
    .icon-reduce,
    .icon-plus {
      display: inline-block;
      @include wh(48);
      vertical-align: middle;
    }
    .icon-reduce {
      @include bis('~assets/icon_less.png')
    }
    .icon-plus {
      @include bis('~assets/icon_more.png')
    }
    .numbers {
      display: inline-block;
      min-width: px2rem(80);
      vertical-align: middle;
      text-align: center;
      &:before {
        content: '';
        display: inline-block;
        @include wh(20);
        margin-right: px2rem(8);
        @include bis('~assets/icon_cross.png')
      }
    }
  }
}