.page-pay {
  position: relative;
  height: 100vh;
  padding: px2rem(160) 0 0;
  overflow: hidden;
  background: #132e44;
  font-size: px2rem(40);
  .header {
    position: absolute;
    top: 0;
    left: 0;
    //@include transform(translate3d(-50%, 0, 0));
    width: px2rem(1080);
    height: px2rem(146);
    padding-bottom: px2rem(19);
    font-weight: normal;
    @include bis('~assets/bg_list_header.png');
    .btn-go-back {
      float: right;
      width: px2rem(184);
      height: 100%;
      line-height: px2rem(128);
      text-align: center;
      background: #f7f7f7;
      color: #515151;
      font-size: px2rem(34);
    } 
  }
  .body {
    color: #fff;
    height: 100%;
    overflow: auto;
    text-align: center;
    padding-bottom: px2rem(40);
    .pay-box-header {
      height: px2rem(300);
      padding-bottom: px2rem(30);
      background: url('~assets/bg_payBody_split.png') no-repeat left bottom;
      background-size: 100% auto;
      text-align: center;
      .price {
        font-size: px2rem(98);
        margin-left: px2rem(20);
      }
      .tit {
        font-size: px2rem(50);
        line-height: 1.8;
      }
      .unpay-header,
      .payed-header {
        height: 100%;
        display: -webkit-box;
        display: flex;
      }
      .payed-header {
        flex-direction: column;
        justify-content: flex-end
      }
      .unpay-header {
        height: 100%;
        text-align: left;
        padding-left: 12.1%;
        padding-right: 12.1%;
        
        justify-content: space-between;
        align-items: center;
        
        .num {
          margin-left: px2rem(20);
        }
      }
      
    }
    .pay-result {
      padding-top: px2rem(220); 
      .remian,
      .result-text {
        line-height: 1.8;
        color: $blue;
        font-size: px2rem(50)
      }
      .remian {
        margin-bottom: px2rem(60);
      }
      .tip {
        margin-bottom: px2rem(40)
      }
      .qrcode {
        
        width: px2rem(636);
        height: px2rem(636);
        
      }
      .bg-result-payed,
      .bg-result-finished {
        width: 100%;
        height: px2rem(728);

        margin-top: px2rem(150);
      }
      .bg-result-payed {
        @include bis('~assets/bg_pay_result_payed.png');
      }
      .bg-result-finished {
        // margin:  0 auto;
        @include bis('~assets/bg_pay_result_finished.png');
      }
    }
  }
}