<!doctype html>
<html lang="zh-cmn-Hans-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<title>融链天下平台</title>
<meta name="keywords" content="融链天下" />
<meta name="description" content="融链天下" />
<meta name="copyright" content="rltx.com" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<!-- <link rel="stylesheet" href="/css/register.min.css" /> -->
<!--[if lt IE 9]><script src="lib/html5shiv.min.js"></script><![endif]-->
<!--[if lte IE 6]><script language="javascript" src="lib/DD_belatedPNG.js"></script><![endif]-->
</head>

<body class="bg-logreg">
<!-- top -->
<div class="topbar">
  <div class="inner">
    <span class="hotline fr"><i class="ico-tel"></i>24小时客服热线：<strong class="tel">021-20534899</strong></span>
    <a href="" class="wlqr"><i class="ico-qr"></i>关注融链<div class="qrbox"></div></a>
    <!-- <a href="app-down.html" class="wlapp"><i class="ico-phone"></i>下载APP</a> -->
  </div>
</div>
<!-- logreg page -->
<div class="logreg">
  <!-- header -->
  <header class="header">
    <div class="inner clearfix">
      <h1 class="logo fl"><!-- <a href="index.html" title=""></a> --></h1>
    </div>
  </header>
  <!-- logreg -->
  <div class="logregfm">
    <div class="inner clearfix">
      <!-- register form -->
      <div class="regform">
        <div class="reghd clearfix">
          <h2 class="logtit fl">免费注册<em>FREE REGISTRATION</em></h2><p class="lognow fr">已有账号？直接去 <a href="/login/login.html">登录</a></p>
        </div>
        <div class="regbd">
          <!-- register feedback -->
          <div class="reg-feedback clearfix">
            <!-- result 1 -->
            <div class="reg-result bg-green tc">
              <i class="ico-success"></i>
              <h3 class="reg-tit green">您的申请已提交，等待企业受理！</h3>
            </div>
            <!-- wel-section -->
            <div class="wel-section">
              <p class="tc">欢迎加入融链天下，您的用户名是：<strong class="org" id="userName"></strong>。</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- footer -->
<footer class="footer">
    <p>
        为了您可以更好的使用融链天下系统，请使用 Chrome或Firefox 浏览器<br>
        为了能够浏览或下载融链天下系统内的文档，您需要在浏览器设置中允许来自http://member.rltx.com 的弹出窗口。
    </p>
    <p class="copyright">
        &copy; Copyright 上海融链科技有限公司 rltx.com All Rights Reserved. <br> 沪ICP备15012288号
    </p>
</footer>

<!-- scripts -->
<!-- <script src='/js/register/suc.js'></script> -->
</body>
</html>