// checkbox

.el-checkbox__inner {
	width: 16px;
	height: 16px;
	&:hover {
		border-color: $uiColor;
	}
	&::after {
		height: 7px;
	}
}

.el-checkbox__input {
	&.is-checked .el-checkbox__inner {
		background-color: $white;
		border-color: $uiColor;
		&::after {
			border-color: $uiColor;
			left: 4px;
		}
	}
	&.is-focus .el-checkbox__inner {
		border-color: $uiColor;
	}
	&.is-indeterminate .el-checkbox__inner {
		background-color: $white;
		border-color: $uiColor;
		&::before {
			border-color: $uiColor;
		}
	}
}
