// define basic colors

$uiColor: #f48400 !default;
$bgColor: #eef2f6 !default;
$bgLight: #f9fafc !default;
$baseColor: #333 !default;
$lightGray: #e8e8e8 !default;

$blue: #0178be !default;
$red: #e24e3c !default;
$green: #00a05a !default;

$white: #fff !default;
$black: #000 !default;

$lightOrg: #fef7f0 !default;
$lightCoffee: #f1efe4 !default;
$borderColor: #e5e9ef !default;
$formColor: #dadada !default;
$placeholder: #ccc !default;

//table ui color
$trHover: #fff2b5 !default;
$trActive: #bcffb6 !default;
