// input-number

.el-input-number__decrease, .el-input-number__increase {
	line-height: 28px;
	&:hover {
		color: $uiColor;
	}
}

.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), 
.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
	border-color: $uiColor;
}