// reset browsers default style

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
header,
nav,
article,
aside,
figure,
main,
section,
time,
mark,
footer {
	margin: 0;
	padding: 0;
}

header,
nav,
article,
aside,
figure,
main,
section,
footer {
	display: block;
}

body {
	font: normal 12px/1 "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif;
}

textarea {
	resize: none;
}

table {
	border-collapse: collapse; 
	border-spacing: 0;
}

a {
	text-decoration: none;
	outline: none;
	transition: all .2s ease-in-out;
}

a:hover {
	text-decoration: underline;
}

input,
button,
textarea {
	outline: none;
}

button,
input[type=button] {
	line-height: 1;
	width: auto;
	overflow: visible;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
}

fieldset,
img { 
	border: 0;
}

legend { 
	display: none;
}

ul,
ol {
	list-style: none;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

::-moz-selection {
	background: #f4b200;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #f4b200;
	color: #fff;
	text-shadow:none;
}

input:-moz-placeholder {
	color: #adadad;
}

textarea:-moz-placeholder {
	color: #adadad;
}

// ::-webkit-scrollbar { 
// 	width: 8px; 
// 	height: 8px;
// }

// ::-webkit-scrollbar-thumb { 
// 	background-color: rgba(0,0,0,.05); 
// 	border-radius: 10px; 
// 	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
// }

// ::-webkit-scrollbar-track { 
// 	border-radius: 10px; 
// 	box-shadow: inset 0 0 6px rgba(0,0,0,0); 
// }

.fl {
	float: left; 
	display: inline;
}

.fr {
	float:right; 
	display:inline;
}

.clearfix:before,
.clearfix:after {
	display: block;
	content: "\0020";
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.ellipsis { 
	display: inline-block; 
	vertical-align: middle; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow:ellipsis; 
}