#widget-marquee {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 200px;
    border: 1px solid #333;
    overflow: hidden;
    box-sizing: border-box;
}

#widget-marquee .marquee-container {

background-color: #002B44 ;

}

#widget-marquee * {
    box-sizing: border-box;
}

#widget-marquee .marquee-box {
    width: 100%;
}

#widget-marquee .marquee-row {
    position: relative;
    height: 40px;
    padding: 0 10px;
    transition: all 1s ease;
    background: rgba(140,235,255,.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.54);
    margin-bottom: 5px
}
#widget-marquee .marquee-row.hidden {
    visibility: hidden;
}
#widget-marquee .marquee-row.flip {
    transform: rotateX(360deg)
}

#widget-marquee .marquee-row .marquee-item-wrap {
    
    overflow: hidden;
}
#widget-marquee .marquee-row .marquee-item-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    height: 30px;
    transition: all 1s ease;
    transform: perspective(300px) scaleX(0.96) rotateX(-90deg);
    background: #025465;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.54);
}
#widget-marquee .marquee-row.cur {
    margin-bottom: 15px
}
#widget-marquee .marquee-row.cur .marquee-item-shadow {
    
    transform: perspective(300px) scaleX(0.96) rotateX(-60deg);
}
#widget-marquee .marquee-row .marquee-row-item {

    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
}
#widget-marquee .marquee-row.cur .marquee-row-item {
    font-size: 18px
}
#widget-marquee .marquee-row .row-item-index {
    margin-right: 16px
}