#widget-marquee {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 200px;
    height: 150px;
    border: 1px solid #333;
    overflow: hidden;
    box-sizing: border-box;
}

#widget-marquee .marquee-container {

    height: 100%;
    width: 100%;

}

#widget-marquee * {
    box-sizing: border-box;
}

#widget-marquee .marquee-box {
    height: 150px;
    width: 100%;
}

#widget-marquee .marquee-row {
    height: 30px;
    line-height: 30px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    overflow: hidden;
}



#widget-marquee .marquee-row .marquee-row-item {
    
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    
}
