@import '//www.macsen318.com/res/normalize.css';
* {
  box-sizing: border-box
}
dl,
dt,
dd {
  margin: 0;
}
html {
  height: 100%
}
h1, h2, h3 {
  margin: 0;
  font-weight: normal
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none
}
ol {
  padding: 0;
  margin-left: 20px
}
body {
  min-height: 100%;
  background-color: #edf1f5;
  padding: 0;
  margin: 0
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}
.header {
  background-color: #00a5e0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.logo {
    width: 138px;
    height: 42px;
    line-height: 42px;
    margin: 10px 0 10px 20px;
    font-size: 18px;
    color: #fff;
    overflow: hidden
}
.btn {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: 1px solid #d0d0d5;
  border-radius: 4px;
  padding: 9px 15px;
  min-width: 50px;
  background-color: #00a5e0;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  cursor: pointer;
  overflow: visible;
  border: 0 none;
  outline: none
}
section {
  overflow: hidden;
}
.aside {
  float: left;
  width: 200px;
  padding-bottom: 3999em;
  margin-bottom: -3991em;
  border-right: 1px solid #dbdee5;
  background-color: #fff;
}
.aside-dl {
  margin: 10px 0;
}
.aside-dt {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  color: #9facba;
}
.aside-nav {
  padding-left: 20px;
  height: 36px;
  line-height: 36px;;
}
.aside-nav.active {
  background-color: #00a5e0;
  color: #fff;
}
.aside-nav.active > .icon {
  color: #fff
}
.icon > svg{display:block;width:16px;height:16px;margin:2px;fill:currentColor;}
.aside-nav > .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  vertical-align: -5px;
  text-align: center;
  line-height: 20px;
  color: #00a5e0;
}

.main {
  overflow: hidden;
}

.main > section {
  height: calc(100vh - 62px);
  padding:30px;
  overflow: hidden;
}
.section-title {
  margin: 36px 0 24px;
  font-weight: 400;
  font-size: 28px;
}
.pre {
  padding: 10px 1em;
  margin: 1em 0;
  border: 1px dashed #ccc;
  background-color: #fff;
  font-family: Consolas, monospace;
  
  word-wrap: break-word;
}



.ui-table {
  width: 100%;
  margin-top: 20px;
  line-height: 21px;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse\9;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,1,.1);
  border: 1px solid #d0d0d5;
  border: 0 rgba(1,2,3,0)
  
}

.ui-table th,.ui-table thead td {
  line-height: 50px;
  background-color: #f7f9fa;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  margin: 0
}

.ui-table tbody td {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  word-break: break-all
}

.ui-table td,.ui-table th {
  padding: 0 20px
}

.ui-table tr {
  cursor: default
}

.ui-table tr:hover td {
  background-color: #f2fcff
}

.ui-table tr.selected td {
  background-color: #e0f7ff
}

.ui-table tr:last-child td {
  padding-bottom: 15px;
  border-bottom: 0
}
.iframe-box {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.demo-container-box {
  padding: 15px;
  background: #fff;
}
.demo-container-box h5 {
  padding: 0 0 10px;
  border-bottom: 1px solid #999;
}
.tab-nav-container {
  overflow: hidden;
  padding-left: 20px;
}

.tab-nav-container .item {
  float: left;
  width: 80px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #999;
  margin-right: 10px;
  background-color: #fff
}
.tab-nav-container .item.on {
  border-bottom-color: #fff;
}
.tab-con-container {
  border: 1px solid #999;
  padding: 20px;
  margin-top: -1px
}
.tab-con-container .item {
  display: none
}
.tab-con-container .item.on {
  display: block
}




/**
widget
*/
.widget-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.widget-dialog .dialog-mask-bg {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.widget-dialog .main {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 80%;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.widget-dialog .title {
  padding: 12px 0;
}
.widget-dialog .content {
  padding: 0 16px 10px;
}
.widget-dialog .foot {
  height: 36px;
  border-top: 1px solid #dcdddd;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}
.widget-dialog .foot button {
  display: block;
  height: 100%;
  font-size: 12px;
  -webkit-box-flex: 1;
  flex: 1;
  width: 100%;
  color: #01a0e4;
  border: 0 none;
  background: none;
}
.widget-dialog .foot button:nth-of-type(2) {
  border-left: 1px solid #dcdddd;
}
.widget-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 55%;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  z-index: 101;
}


/*
* Swiper
*/
.easy-move-swiper {
  overflow: hidden;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.easy-move-swiper .item {
  float: left;
  width: 100%;
  height: 100px;
  background: orange;
  color: #fff;
  line-height: 100px;
  text-align: center;
}

.pagination-list {
  margin: 20px auto;
  text-align: center;
}

.pagination-list .item {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #cccccc;
}
.pagination-list .active {
  background-color: orange;
}
.wrap-swiper-box {
  width: 60%;
  overflow: hidden;
}

/*
easy-move
*/
.wrap-easymove-list {
  width: 60%;
  overflow: hidden;
  border: 1px solid #999;
}
.easy-move-list {
  overflow: hidden;
  height: 100px;

}
.easy-move-list .item {
  float: left;
  width: 25%;
  padding: 0 10px;
  line-height: 100px;
  text-align: center;
  border-right: 1px solid #fff;

}
.easy-move-list .item.on {
  color: #fff;
  background-color: orange
}
.wrap-easymove-fullpage {
  width: 60%;
  height: 200px;
  overflow: hidden;
}
.easy-move-fullpage {
  height: 100%;
  overflow: hidden;
}
.easy-move-fullpage .item {
  text-align: center;
  line-height: 200px;
  background-color: orange
}
.easy-move-fullpage .item:nth-child(2n) {
  background-color: red;
  color: #fff;
}


/**
**
**
*******/
@-webkit-keyframes loading {
  0% {
    background-color: #333;
  }
  100% {
    background-color: #efefef;
  }
}
@keyframes loading {
  0% {
    background-color: #333;
  }
  100% {
    background-color: #efefef;
  }
}
.widget-loading{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.widget-loading .mask {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
.widget-loading .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  height: 100px;
  width: 100px;
  background: url(bg_loading.gif) no-repeat center;
}
